@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
/* Shared Code */
.btn {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* NonShared Code */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 115px 120px 180px;
  background-image: url(assets/hero-bg.png);
}
.hero .access_style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background-color: #FFFFFF;
  color: #469165;
  border-radius: 1000px;
}
.hero h1 {
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 84px;
  margin: 16px 0;
}
.hero h1 span {
  color: #30B868;
}
.hero .hero_para {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 32px;
}
.hero .hero_buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero .hero_buttons .btn2 {
  background: transparent;
  color: #FFFFFF;
  padding: 12px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.section1 {
  padding: 0 120px;
}
.section1 h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: center;
  margin-top: 80px;
}
.section1 p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  text-align: center;
  margin: 16px 0 44px;
}
.section1 .card_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.section1 .card_parent .card {
  height: 400px;
  padding: 70px 24px 24px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px #0000001f;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section1 .card_parent .card .img_bg {
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .card_parent .card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin: 16px 0;
}
.section1 .card_parent .card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -80px;
  background-color: #FFFFFF;
  padding: 120px;
  gap: 60px;
}
.section2 .section2_content .headline{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #469165;
}
.section2 .section2_content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin: 16px 0;
}
.section2 .section2_content .para {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.section2 .section2_content .options {
  margin-top: 40px;
}
.section2 .section2_content .options div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #001931;
  line-height: 20px;
  margin-bottom: 16px;
}
.section3 {
  padding: 2px 120px 120px;
}
.section3 .section3_content {
  background-color: #F7F6F2;
  text-align: center;
  padding: 80px 40px;
  border-radius: 12px;
}
.section3 .section3_content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom:16px;
}
.section3 .section3_content .p1 {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
.section3 .section3_content .p2 {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}
footer {
  padding: 120px 120px 0;
  background-color: #001931;
}
footer .fcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
footer .fcontent .social {
  margin-right: 107px;
}
footer .fcontent .social .p1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
footer .copyright {
  border-top: 1px solid #e5e7eb83;
  padding: 30px;
  text-align: center;
  color: #fafafad0;
  font-size: 16px;
  line-height: 24px;
}