@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
/* Shared Code */
.btn {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* NonShared Code */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 115px 120px 180px;
  background-image: url(assets/hero-bg.png);
}
.hero .access_style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background-color: #FFFFFF;
  color: #469165;
  border-radius: 1000px;
}
.hero h1 {
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 84px;
  margin: 16px 0;
}
.hero h1 span {
  color: #30B868;
}
.hero .hero_para {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 32px;
}
.hero .hero_buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero .hero_buttons .btn2 {
  background: transparent;
  color: #FFFFFF;
  padding: 12px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}